@import '../../../../styles/sass/main';

.main-container {
  width: 100%;
}

.navbar {
  align-items: center;
  background: #222;
  display: flex;
  height: 50px;
  width: 100vw;
}

.logo-container {
  padding: 10px;
}

.logo {
  color: $primary-red;
  font-family: 'Righteous', cursive;
  font-size: 1.6em;
  margin-right: 15px;
}

.navbar-top-level {
  background: #222;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transition: 0.3s ease all;
  width: 100%;
  @media(min-width: 1024px) {
    background: none;
    flex-direction: row;
    overflow: visible;
    position: relative;
    top: 0;
    transition: 0s ease all;
    width: auto;
  }
}

.navbar-second-level {
  background: #222;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  transition: 0.3s ease all;
  @media(min-width: 1024px) {
    background: #222;
    overflow: visible;
    position: absolute;
    top: 100%;
    min-width: 100%;
    white-space: nowrap
  }
}

.navbar-top-level-container,
.navbar-second-level-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.navbar-top-level-container {
  @media(min-width: 1024px) {
    overflow: visible;
  }
}

.navbar-top-level-content,
.navbar-second-level-content {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  height: 50px;
  padding: 10px;
  transition: 0.3s ease all;
  width: 100%;
  @media(min-width: 1024px) {
    padding: 7px 15px;
  }
}

.navbar-top-level-content:hover,
.navbar-second-level-content:hover {
  background: white;
  color: black;
}

.navbar-top-level-content  > i,
.navbar-second-level-content >i  {
  width: 15px;
}

.navbar-top-level-content > .fa-caret-down {
  margin-left: auto;
  margin-right: 5px;
  padding: 10px;
}

.navbar-top-item,
.navbar-second-item {
  margin-left: 10px;
}

.navbar-second-level-content {
  display: flex;
}

.actions-container {
  margin-left: auto;
  margin-right: 5px;
  @media(min-width: 1024px) {
    display: none;
  }
}

.actions-container > i {
  color: white;
  padding: 10px;
}
